name: ReleaseBot

on:
  push:
    branches:
      - "master"
      - "release-cache"
    tags:
      - "v*.*.*"

jobs:
  linux-arm64-anolisos8:
    name: arm64-anolisos8
    runs-on: ubuntu-22.04-arm

    steps:
      - uses: actions/checkout@v4
      - uses: Swatinem/rust-cache@v2

      - uses: prompt/actions-commit-hash@v3
        id: commit

      - name: Build
        run: |
          docker compose -f dev/anolisos8/arm64/docker-compose.yml up

      - name: Upload
        uses: actions/upload-artifact@v4
        with:
          name: riffle-server-linux-arm64-anolisos8-${{ github.ref_name }}
          path: target-docker/release/riffle-server

      - name: Upload binaries to release
        if: startsWith(github.ref, 'refs/tags/')
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: target-docker/release/riffle-server
          asset_name: riffle-server-linux-arm64-anolisos8-${{ github.ref_name }}
          tag: ${{ github.ref }}

  linux-amd64-centos7:
    name: amd64-centos7
    runs-on: ubuntu-22.04

    steps:
      - uses: actions/checkout@v4
      - uses: Swatinem/rust-cache@v2
      - uses: prompt/actions-commit-hash@v3
        id: commit

      - uses: ScribeMD/rootless-docker@0.2.2
        if: steps.cache.outputs.cache-hit != 'true'

      - uses: ScribeMD/docker-cache@0.5.0
        if: steps.cache.outputs.cache-hit != 'true'
        with:
          key: docker-centos7-${{ hashFiles('dev/centos7/amd64/Dockerfile') }}

      - name: Build
        run: |
          docker compose -f dev/centos7/amd64/docker-compose.yml up

      - name: Upload
        uses: actions/upload-artifact@v4
        with:
          name: riffle-server-linux-amd64-centos7-${{ github.ref_name }}
          path: target-docker/release/riffle-server

      - name: Upload binaries to release
        if: startsWith(github.ref, 'refs/tags/')
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: target-docker/release/riffle-server
          asset_name: riffle-server-linux-amd64-centos7-${{ github.ref_name }}
          tag: ${{ github.ref }}

  linux-amd64-anolisos8:
    name: amd64-anolisos8
    runs-on: ubuntu-22.04

    steps:
      - uses: actions/checkout@v4
      - uses: Swatinem/rust-cache@v2
      - uses: prompt/actions-commit-hash@v3
        id: commit

      - uses: ScribeMD/rootless-docker@0.2.2
        if: steps.cache.outputs.cache-hit != 'true'

      - uses: ScribeMD/docker-cache@0.5.0
        if: steps.cache.outputs.cache-hit != 'true'
        with:
          key: docker-anolisos8-${{ hashFiles('dev/anolisos8/amd64/Dockerfile') }}

      - name: Build
        run: |
          docker compose -f dev/anolisos8/amd64/docker-compose.yml up

      - name: Upload
        uses: actions/upload-artifact@v4
        with:
          name: riffle-server-linux-amd64-anolisos8-${{ github.ref_name }}
          path: target-docker/release/riffle-server

      - name: Upload binaries to release
        if: startsWith(github.ref, 'refs/tags/')
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: target-docker/release/riffle-server
          asset_name: riffle-server-linux-amd64-anolisos8-${{ github.ref_name }}
          tag: ${{ github.ref }}
